<footer class="footer">
  <div id="footer-nav-divider" class="footer-inner">
    <nav class="footer-links" aria-label="Footer navigation">
      <a href="https://business.event.it/" target="_blank">Event.it</a>
      <a href="/hc/requests/new?ticket_form_id=27145693838108">Giv feedback</a>
      <a href="/hc/p/privacypolicy_custom_page">Privatlivspolitik</a>
      <a href="#">Administrer præferencer</a>
    </nav>
  </div>

  <div class="footer-inner footer-bottom">
    <div class="footer-copy">© 2026 {{help_center.name}} </div>

    <div class="footer-social">
      <span class="follow-label">Følg os</span>
      <a
        href="https://www.linkedin.com/company/flexbillet/"
        class="social social-linkedin"
        aria-label="LinkedIn"
        target="_blank"
      >
        <img src="{{asset 'filled-linkedIn.svg'}}" alt="LinkedIn logo"></a>
      <a
        href="https://www.facebook.com/eventitdk/"
        class="social social-facebook"
        aria-label="Facebook"
        target="_blank"
      >
        <img src="{{asset 'filled-facebook.svg'}}" alt="facebook logo"></a>
      <a 
        href="https://www.instagram.com/eventit.dk/" 
        class="social social-instagram" 
        aria-label="Instagram"         
        target="_blank"
      >
        <img src="{{asset 'filled-instagram.svg'}}" alt="instagram logo"></a>
    </div>
  </div>
</footer>